body{

    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li{
   list-style-type: none;
   display: inline; 
}
nav ul li a{
    padding: 10px 30px;
    text-decoration: none;
    background-color: rgb(50, 204, 204);
    color: #fff;
    display: inline-block;
    margin-right: -3px;
    width: 120px;
}
nav ul li a:hover{
    background-color: rgb(0, 71, 75);
}